{% extends "AppBundle:Layout:layout.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    
    
{% endblock %}

{% block content %}
    <div id="legend">
        <legend class="">
            <small>{{ test.name }}</small>        
        </legend>
    </div>
    
        
    {{ question.content }}<br>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        
        <div style="text-align: center">
            <input type="submit" class="btn btn-primary" href="{{ path('test_question', { slug: test.slug, questionNo: questionNo }) }}" role="button" value="Kolejne pytanie">
        </div>

    {{ form_end(form) }}
{% endblock %}
