{% extends "AppBundle:Layout:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    
    <link rel="stylesheet" href="{{ asset('bundles/app/css/pages/test.css') }}" />
{% endblock %}

{% block content %}
    
  
        
    <div id="legend">
        <legend class="">
            Lista pytań dla testu: <small>{{ test.name }}</small>
        
        </legend>
    </div>
            <a href="{{ path('test_index') }}">... powrót do listy testów</a><br><br>
    
    <ul class="list-group">
        {% for question in test.questions %}
            {% set validClass = '' %}
            {% if points[question.id] is defined and points[question.id] == 0 %}
                {% set validClass = 'invalid-answer' %}
            {% elseif points[question.id] is defined and points[question.id] > 0 %}
                {% set validClass = 'valid-answer' %}
            {% endif %}


        <li class="list-group-item {{ validClass }}">
            <span class="badge">
                {% if points[question.id] is defined %}
                    {{- points[question.id]~'/' -}}
                {% endif %}
                {{- question.score }} pkt.
            </span>
            {{ question.content }}
        </li>
        {% else %}
            <li class="list-group-item">
                W teście niema pytań
            </li>
        {% endfor %}
    </ul>
        
    <div style="text-align: center">
        {% if test.questionos|length < points|length %}
            <a class="btn btn-primary" href="{{ path('test_question', { slug: test.slug }) }}" role="button">
                {%  if points|length > 0 %}
                    Kontynuuj test
                {% else %}
                    Rozpocznij test
                {% endif %}
            </a>
        {% endif %}
    </div>
{% endblock %}