{% extends "AppBundle:Layout:admin.html.twig" %}

{% block contentTitle %}Lista testów{% endblock %}
{% block content %}

    <table rel="datatables">
        <thead>
        <tr>
            <th>Id</th>
            <th>Tytuł</th>
            <th>Utworzony</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td><a href="{{ path('admin_article_edit', { 'id': article.id }) }}">{{ article.id }}</a></td>
                <td>{{ article.title }}</td>
                <td>{% if article.created %}{{ article.created|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <div class="button">
                        <a href="{{ path('admin_article_edit', { 'id': article.id }) }}">
                            <button class="btn bg-red btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
