{% extends "AppBundle:Layout:admin.html.twig" %}

{% block contentTitle %}Lista testów{% endblock %}
{% block content %}

    <table rel="datatables">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>Start</th>
            <th>Utworzony</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        {% for test in tests %}
            <tr>
                <td><a href="{{ path('admin_test_show', { 'id': test.id }) }}">{{ test.id }}</a></td>
                <td>{{ test.name }}</td>
                <td>{% if test.start %}{{ test.start|date('Y-m-d') }}{% endif %}</td>
                <td>{% if test.created %}{{ test.created|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <div class="button">
                        <a href="{{ path('admin_test_show', { 'id': test.id }) }}">
                            <button class="btn bg-red btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                        </a>
                    </div>
                    <div class="button">
                        <a href="{{ path('admin_test_edit', { 'id': test.id }) }}">
                            <button class="btn bg-red btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_test_new') }}">Create a new test</a>
        </li>
    </ul>
{% endblock %}
