{% extends "AppBundle:Layout:admin.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
        #sortable li { display: block; margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1em;  cursor: pointer; }
        #sortable li span { position: absolute; margin-left: -1.3em; }
    </style>
{% endblock %}

{% block javascripts %}
    {{parent() }}
    <script type="text/javascript">
        $( function() {
            $( "#sortable" ).sortable({
                    beforeStop: function( event, ui ) {
                        var order = jQuery(this).sortable('toArray', { attribute: 'data-order'});
                        jQuery.ajax({
                            url: '{{ path('admin_test_sort_questions', { id: test.id }) }}',
                            type: 'POST',
                            data: {
                                order: order
                            }
                        })
                        
                        console.log();
                    }
                });
            $( "#sortable" ).disableSelection();
        } );
    </script>
{% endblock %}


{% block mainContent %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Podgląd testu</h3>
        </div>
        <div class="box-body">


            <table>
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ test.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ test.name }}</td>
                    </tr>
                    <tr>
                        <th>Slug</th>
                        <td>{{ test.slug }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ test.description }}</td>
                    </tr>
                    <tr>
                        <th>Start</th>
                        <td>{% if test.start %}{{ test.start|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Created</th>
                        <td>{% if test.created %}{{ test.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Active</th>
                        <td>{% if test.active %}Yes{% else %}No{% endif %}</td>
                    </tr>
                </tbody>
            </table>

            <ul>

                <li>
                    {{ form_start(delete_form) }}
                        <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>

        </div>
        <div class="box-footer">

            <ul>
                <li>
                    <a href="{{ path('admin_test_index') }}">Back to the list</a>
                </li>
                <li>
                    <a href="{{ path('admin_test_edit', { 'id': test.id }) }}">Edit</a>
                </li>
                
                <li>
                    <a href="{{ path('admin_question_new', { 'id': test.id }) }}">Dodaj pytanie</a>
                </li>
            </ul>

        </div>
    </div>
                
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title">Pytania zawarte w teście</h3>
        </div>
        <div class="box-body">
            
            <ul id="sortable">
                
                {% for question in questions %}
                    
                    <li class="ui-state-default" data-order="{{ question.id }}">
                        <a href="{{ path('admin_question_edit', { id: question.id} ) }}">
                            <span class="ui-icon ui-icon-arrowthick-2-n-s"></span> 
                            {{ question.content }}
                        </a>
                    </li>
                    
                {% endfor %}
            </ul>
            
        </div>
    </div>
                    
                    
                    
                    
                    
{% endblock %}

    
            
    

