{% extends "AppBundle:Layout:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    
    <style type="text/css">
        
        .bs-callout {
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            border-color: #eee;
            border-image: none;
            border-radius: 3px;
            border-style: solid;
            border-width: 1px 1px 1px 5px;
            margin: 20px 0;
            padding: 20px;
        }
        .bs-callout-danger {
             border-left-color: #ce4844;
        }
    </style>
    
{% endblock %}

{% block content %}


    <div>
        <div id="legend">
            <legend class="">Lista artykułów</legend>
        </div>
    </div>


    <div>
        <a class="btn btn-primary" href="{{ path('article_new') }}" role="button">Dodaj nowy artykuł</a><br><br>
    </div>
    
    {% for article in articles %}
        <div class="bs-callout bs-callout-danger"> 
            <h4> {{ article.title }}</h4>
            <p>{{ article.content.short }}</p>
            <p>
                <a class="btn btn-primary" href="{{ path('article_show', { slug: article.slug }) }}" role="button">czytaj dalej</a>
            </p>
        </div>
    {% endfor %}
{% endblock %}
