{% extends 'base.html.twig' %}

{% block metatags %}
    {{ parent() }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin Panel</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}


    <link rel="stylesheet" href="{{ asset('bundles/bootstrap/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/adminlte/dist/css/AdminLTE.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/adminlte/dist/css/skins/_all-skins.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/datatables/media/css/dataTables.bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/layout/admin.css') }}">    
    <link rel="stylesheet" href="{{ asset('bundles/jqueryui/themes/ui-lightness/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/jqueryui/themes/ui-lightness/theme.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/libs/markitup/skins/markitup/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/libs/markitup/sets/markdown/style.css') }}" />


    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('bundles/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/jqueryui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/bootstrap/dist/js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/adminlte/plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('bundles/adminlte/plugins/fastclick/fastclick.js') }}"></script>
    <script src="{{ asset('bundles/adminlte/dist/js/app.min.js') }}"></script>

    <script src="{{ asset('bundles/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/datatables/media/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/layout/admin.js') }}"></script>

    <script src="{{ asset('bundles/app/libs/markitup/jquery.markitup.js') }}"></script>
    <script src="{{ asset('bundles/app/libs/markitup/sets/markdown/set.js') }}"></script>
{% endblock %}


{% block bodyClass %}{{ parent() }} hold-transition skin-blue fixed sidebar-mini{% endblock %}
{% block body %}

    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="../../index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>A</b>LT</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Admin</b>LTE</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>


            </nav>
        </header>

        <!-- =============================================== -->

        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">


                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">Nawigacja</li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>Testy</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('admin_test_index') }}"><i class="fa fa-circle-o"></i> Testy</a></li>
                            
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>Tagi</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('admin_tag_index') }}"><i class="fa fa-circle-o"></i> Lista tagów</a></li>
                            <li><a href="{{ path('admin_tag_add') }}"><i class="fa fa-circle-o"></i> Dodaj tag</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>Artykuły</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('admin_article_index') }}"><i class="fa fa-circle-o"></i> Lista artykułów</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- =============================================== -->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">

            </section>

            <!-- Main content -->
            <section class="content">
                {% block mainContent %}
                    <!-- Default box -->
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">{% block contentTitle %}{% endblock %}</h3>
                        </div>
                        <div class="box-body">


                            {% block content %}

                            {% endblock %}



                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">

                            {% block contentFooter %}

                            {% endblock %}

                        </div>
                        <!-- /.box-footer-->
                    </div>
                    <!-- /.box -->
                {% endblock %}
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.8
            </div>
            <strong>Copyright &copy; 2014-2016 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
            reserved.
        </footer>


    </div>

{% endblock %}