{% extends 'base.html.twig' %}

{% block metatags %}
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <meta name="author" content="">
    
{% endblock %}

{% block stylesheets %}
    
    <link href="{{ asset('bundles/app/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/layout.css') }}" rel="stylesheet">
    
{% endblock %}

{% block javascripts %}
    
    <script src="{{ asset('bundles/app/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
    
{% endblock %}

{% block body %}
    
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">nauczeCię.pl</a>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li>
                            <a href="{{ path('account_register') }}">Zarejestruj się</a>
                        </li>
                        <li>
                            <a href="{{ path('account_login') }}">Zaloguj się</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('account_edit') }}">Edytuj profil</a>
                        </li>

                        <li>
                            <a href="{{ path('test_index') }}">Testy</a>
                        </li>
                        <li>
                            <a href="{{ path('test_rank') }}">Ranking</a>
                        </li>
                        <li>
                            <a href="{{ logout_path('main') }}">Wyloguj się</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}

                        <li>
                            <a href="{{ path('admin_index_index') }}">Panel aministracyjny</a>
                        </li>

                    {% endif %}
                </ul>
            </div>
            
        </div>
        
    </nav>

   
    <div class="container">

        {% for flashMessage in app.session.flashbag.get('error') %}

            <p class="bg-danger flash-bag">{{ flashMessage }}</p>

        {% endfor %}
        <div>
            
            {% block content %}{% endblock %}

        </div>       

        <hr>

        
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; nauczeCie.pl</p>
                </div>
              
            </div>
           
        </footer>

    </div>
{% endblock %}